<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liumq.springboottest1.mapper.ClassBookRelationMapper" >
  <resultMap id="BaseResultMap" type="com.liumq.springboottest1.entity.ClassBookRelation" >
    <id column="bookid" property="bookid" jdbcType="INTEGER" />
    <id column="classid" property="classid" jdbcType="INTEGER" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="bookname" property="bookname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    bookid, classid, classname, bookname
  </sql>
<select id="selectAll"  resultType="com.liumq.springboottest1.entity.ClassBookRelation">
   select * from ClassBookRelation
</select>
</mapper>