<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liumq.springboottest1.mapper.ClassInfoMapper">
    <resultMap id="BaseResultMap" type="com.liumq.springboottest1.entity.ClassInfo">
        <id column="autoid" property="autoid" jdbcType="INTEGER"/>
        <result column="classname" property="classname" jdbcType="VARCHAR"/>
        <result column="teacher" property="teacher" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="INTEGER"/>
        <result column="inserttime" property="inserttime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        autoid, classname, teacher, grade, inserttime
    </sql>

    <insert id="insert" parameterType="com.liumq.springboottest1.entity.ClassInfo">

    insert into classinfo (id, classname, teacher,
      grade, inserttime)
    values (#{id,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR}, #{teacher,jdbcType=VARCHAR},
      #{grade,jdbcType=INTEGER}, #{inserttime,jdbcType=TIMESTAMP}
  </insert>

    <select id="selectAll" resultType="com.liumq.springboottest1.entity.ClassInfo">
    select * from classInfo
  </select>

    <select id="selectByClassName" parameterType="java.lang.String"
            resultType="com.liumq.springboottest1.entity.ClassInfo">
    select * from  classinfo where classname =#{classname,jdbcType=VARCHAR}  limit 1
  </select>

    <delete id="deleteByClassName" parameterType="java.lang.String">
    delete from classinfo where  classname =#{classname,jdbcType=VARCHAR}
  </delete>

    <update id="updateClassInfoByClassName" parameterType="com.liumq.springboottest1.entity.ClassInfo">
    update classinfo set teacher=#{teacher},grade =#{grade} where classname =#{classname}
  </update>


</mapper>