<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/1.12.4/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>HelloWord</title>
</head>
<body>
<h2>hello springboot!!! my name is liumengqi </h2>
<div class="container">
    <h2>按钮</h2>
    <p>.btn-lg 类制作大按钮：</p>
    <button type="button" class="btn btn-default btn-lg">大的默认按钮</button>
    <button type="button" class="btn btn-info btn-lg">大的信息按钮</button>
</div>
</body>
</html>
